{% extends 'forum/base.html' %}
{% load static %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'forum/css/my_profile.css' %}">
{% endblock %}

{% block content %}
<div class="container">
    <div class="head-info">
        {% if profile.image %}
        <img src="{{ profile.image.url }}" class=" rounded-circle" width="200px" height="200px"
            alt=" {{ profile.user.username }}'s profile picture">
        {% else %}
        <img src="{% static 'forum/imgs/default.jpg' %}" class=" rounded-circle" width="200px" height="200px"
            alt="Default profile picture">
        {% endif %}
        <h2>{{ profile.user.username }}'s profile</h2>
    </div>
    <br />
    <div class="posts">
        <h3>Posts</h3>
        {% if posts %}
        {% for post in posts %}
        <div class="alert alert-secondary" role="alert">
            <div class="container">
                <div class="row">
                    <div class="col-2">
                        {% if post.author.profile.image %}
                        <img src="{{ post.author.profile.image.url }}" width="75px" height="75px" class="rounded-circle"
                            alt=" {{ post.author.username }}'s profile picture">
                        {% else %}
                        <img src="{% static 'forum/imgs/default.jpg' %}" width="75px" height="75px"
                            class="rounded-circle" alt="Default profile picture">
                        {% endif %}
                    </div>
                    <div class="col-8">
                        <a href="{% url 'forum:post_detail' pk=post.pk %}"
                            class="list-group-item list-group-item-action">
                            <h5 class="mb-1">{{ post.title }}</h5>
                            <p class="pr-3">{{ post.content|truncatewords:25 }}</p>
                            <small>
                                <a href="{% url 'forum:profile' pk=post.author.pk %}">By {{ post.author.username}}
                                </a>
                                on {{ post.created_at }}
                            </small>
                        </a>
                        <hr>
                        <img src="{% static 'forum/imgs/comment.svg' %}" width="25px" height="25px" alt="comment icon">
                        Comments: {{ post.comments.count }}
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
        {% else %}
        <p>No posts found.</p>
        {% endif %}
    </div>
</div>

{% endblock %}